:root {
  --button-disabled-opacity: 0.5;
  --button-border-radius: 0.5rem;
  --button-scale-hover: 1.02;
  --button-scale-active: 0.98;

  --button-color-background: var(--shade_foreground);
  --button-color-foreground: var(--shade_background);
  --button-color-background-hover: color-mix(
    in srgb,
    var(--button-color-background) 85%,
    var(--shade_background)
  );
  --button-color-background-active: color-mix(
    in srgb,
    var(--button-color-background) 80%,
    var(--shade_background)
  );

  --button-color-background-primary: gold;
  --button-color-foreground-primary: tomato;
  --button-color-background-primary-hover: color-mix(
    in srgb,
    var(--button-color-background-primary) 95%,
    var(--shade_background)
  );
  --button-color-background-primary-active: color-mix(
    in srgb,
    var(--button-color-background-primary) 90%,
    var(--shade_background)
  );

  --button-color-foreground-secondary: dodgerblue;
  --button-color-background-secondary: mediumseagreen;
  --button-color-background-secondary-hover: color-mix(
    in srgb,
    var(--button-color-background-secondary) 95%,
    var(--shade_background)
  );
  --button-color-background-secondary-active: color-mix(
    in srgb,
    var(--button-color-background-secondary) 90%,
    var(--shade_background)
  );

  --button-color-foreground-tertiary: beige;
  --button-color-background-tertiary: rebeccapurple;
  --button-color-background-tertiary-hover: color-mix(
    in srgb,
    var(--button-color-background-tertiary) 90%,
    var(--shade_background)
  );
  --button-color-background-tertiary-active: color-mix(
    in srgb,
    var(--button-color-background-tertiary) 80%,
    var(--shade_background)
  );

  --button-size-sm-height: 2rem;
  --button-size-sm-padding-x: 1rem;
  --button-size-sm-font-size: 0.875rem;

  --button-size-md-height: 3rem;
  --button-size-md-padding-x: 1.5rem;
  --button-size-md-font-size: 1rem;

  --button-size-lg-height: 4rem;
  --button-size-lg-padding-x: 2rem;
  --button-size-lg-font-size: 1.125rem;
}
